body {
  background-color: #f2f4fc;
  font-family: Roboto, sans-serif;
  color: #292e47;
  font-size: 14px;
  line-height: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
/*Header*/
.navbar-logo {
  width: 60px;
  height: 18px;
  background-image: url("../assets/logos/circle.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navlink {
  font-family: Roboto, sans-serif;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.navlink:hover {
  color: #072ac8;
}
.button.primary-button {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  color: white;
}
/*Preview*/
.preview-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-content-info {
  max-width: 530px;
}
.preview-heading {
  color: #292e47;
  font-size: 60px;
  line-height: 130%;
}
.preview-description {
  max-width: 435px;
  margin-bottom: 40px;
  color: #6b708d;
  font-size: 20px;
  line-height: 150%;
}
.preview-see-button {
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
.preview-touch {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  margin-right: 40px;
  margin-left: 20px;
  text-decoration: none;
}
.preview-image {
  position: relative;
  display: block;
}
.image-1 {
  position: absolute;
  left: -19%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 375px;
}
.image-main {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.image-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -22%;
  max-width: 375px;
}
/*Partners*/
.partners {
  margin-top: 130px;
}
.grid-logos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.client-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 96px;
  max-height: 96px;
  max-width: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/*Projects*/
